.backgroundSky{
    background-image: url("https://johnbenjaminaucoin.github.io/Portfolio/images/defaultSky.png");
}

.backgroundWireframes{
    
    /*change to animation between the two images that triggers when this class is applied*/
    background-image: url("/images/WireframeSky.png");
    animation-name: toWires;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.backgroundReturnToSky{
    background-image: url("/images/defaultSky.png");
    animation-name: fromWires;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes toWires {
    0% {
        background-image: url("/images/defaultSky.png");
    }
    100%{
        background-image: url("/images/WireframeSky.png");
    }
}

@keyframes fromWires {
    0% {
        background-image: url("/images/WireframeSky.png");
    }
    100%{
        background-image: url("/images/defaultSky.png");
    }
}


/* SIBLING FADE BY https://codepen.io/shshaw

/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }