.backgroundSky{
    background-image: var(--defaultBackground);
}

.animationDetails{
    animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.backgroundToWireframes{
    background-image: url("./images/backgrounds/WireframeSky.png");
    animation-name: toWires;
  
}

.backgroundFromWireframes{
    background-image: var(--defaultBackground);
    animation-name: fromWires;
}

.backgroundToSchool{
    background-image: url("./images/backgrounds/schoolColors.png");
    animation-name: toSchool;
  
}

.backgroundFromSchool{
    background-image: var(--defaultBackground);
    animation-name: fromSchool;
}

.backgroundToHome{
    background-image: url("./images/backgrounds/defaultSky.png");
    animation-name: toHome;
  
}

.backgroundFromHome{
    background-image: var(--defaultBackground);
    animation-name: fromHome;
}

.backgroundToSset{
    background-image: url("./images/backgrounds/sset2.png");
    animation-name: toSset;
  
}

.backgroundFromSset{
    background-image: var(--defaultBackground);
    animation-name: fromSset;
}


.backgroundToNl{
    background-image: url("./images/backgrounds/nl.png");
    animation-name: toNl;
  
}

.backgroundFromNl{
    background-image: var(--defaultBackground);
    animation-name: fromNl;
}


@keyframes toWires {
    0% {
        background-image: var(--defaultBackground);
    }
    100%{
        background-image: url("./images/backgrounds/WireframeSky.png");
    }
}

@keyframes fromWires {
    0% {
        background-image: url("./images/backgrounds/WireframeSky.png");
    }
    100%{
        background-image: var(--defaultBackground);
    }
}

@keyframes toSchool {
    0% {
        background-image: var(--defaultBackground);
    }
    100%{
        background-image: url("./images/backgrounds/schoolColors.png");
    }
}

@keyframes fromSchool {
    0% {
        background-image: url("./images/backgrounds/schoolColors.png");
    }
    100%{
        background-image: var(--defaultBackground);
    }
}



@keyframes toHome {
    0% {
        background-image: var(--defaultBackground);
    }
    100%{
        background-image: url("./images/backgrounds/defaultSky.png");
    }
}

@keyframes fromHome {
    0% {
        background-image: url("./images/backgrounds/defaultSky.png");
    }
    100%{
        background-image: var(--defaultBackground);
    }
}

@keyframes toSset {
    0% {
        background-image: var(--defaultBackground);
    }
    100%{
        background-image: url("./images/backgrounds/sset2.png");
    }
}

@keyframes fromSset {
    0% {
        background-image: url("./images/backgrounds/sset2.png");
    }
    100%{
        background-image: var(--defaultBackground);
    }
}

@keyframes toNl {
    0% {
        background-image: var(--defaultBackground);
    }
    100%{
        background-image: url("./images/backgrounds/nl.png");
    }
}

@keyframes fromNl {
    0% {
        background-image: url("./images/backgrounds/nl.png");
    }
    100%{
        background-image: var(--defaultBackground);
    }
}


/* SIBLING FADE BY https://codepen.io/shshaw

/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }





