:root {
    --jet : #2C302E;
    --jet-transparent: #00000065 ;
    --green: #DFF514;
    --blue: #0079C0;
    --white: #F0FFFF;
    --black: #000000;
    --row1:7vh ; 
 --row2: 8vh;
 --defaultBackground:"./images/defaultSky.png";
 
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
/* Hide scrollbar for Chrome, Safari and Opera */
.noscroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .noscroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
html{
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    background-position: center;    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
   height:100%;   
}

.footerBlank{
    background-color: var(--black);
    height: 7vh;
    
    bottom:0%;
    
    width: 100%;
}

.container{
    background-color: var(--jet-transparent);
    margin: var(--row2) 11vw;
    
    padding: 10.8vh 4.01vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0.3px var(--jet-transparent) ;

    
}

.bottom{
    position: fixed;
   bottom: 0px;
}

.white{
    color:var(--white);
}

.title{
    
    font-size: 4em;
    margin-bottom: 0;
}

.headerFont{
    font-size: 16pt;
}

.subheading{
    font-size: 30pt;
    margin-top: 0;
}
.mainfont{
    font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";
    
    opacity: 100%;
    font-weight:390;
    text-decoration:none;
}

.alignright{
    text-align: right;
}



