:root {
    --jet : #2C302E;
    --jet-transparent: #00000065 ;
    --green: #DFF514;
    --blue: #0079C0;
    --white: #F0FFFF;
    --black: #000000;
    --row1:7vh ; 
 --row2: 8vh;
 --defaultBackground:url("./images/backgrounds/sset2.png");
 
}

.headerwContent{
    background-color: var(--black);
    min-height: 65.578px;
    width: 100%;
    display:flex;
    
    justify-content: center;
}

.childTitle{
    flex-grow: 1;
    flex-shrink: 1;
}

.childNav{
    flex-grow: 4;
    
}

.headerNav{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-style:solid;
    border-color: var(--white);
    border-width: 3px;
}

.white{
    color:var(--white);
}

.title{
    
    font-size: 4em;
    margin-bottom: 0;
}


.navsmall{
    font-size: 16pt;
    margin: 10px;
   
}

.profilepic{
    width: auto;
   
}


.aboutChild{
    max-width:500px;

    width: 100%;
    height: auto;

    margin: 20px;
}

img{
    border-color: var(--black);
    box-shadow: -5px 5px #000000;
    border-radius: 25px ;
}

p{
    font-size: 16pt;
}