:root{

    --font: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif
}

input{
    max-height: 20px;
}

.favImg{
    width:200px
}

#favorites{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
}
.favContainer{
    padding: 20px;
    border-radius: 25px;
    border-color: white;
    border-style:ridge;
    margin: 5px;
    display: flex;
    align-items: center;
}
@media screen and (max-width:1210px){
    #favorites{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .favContainer{
        width: 100%;
        padding: 20px;
        border-radius: 25px;
        border-color: white;
        border-style:ridge;
        margin: 5px;
        display: flex;
    }
}



.favImg{
    width: auto;
    height: 150px;
    
}



.favInfo{
    padding:20px
}

form{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

h1{
    margin-bottom: 0;
    font-family: var(--font);
}

.modal{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    left: 0;
    top: 0;
}

.centerText{
    text-align: center;
}

.centerImg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.regularSize{
    height: 90%;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.regularSize:hover{ cursor:zoom-in;}
.enlarged:hover{cursor:zoom-out;}

.enlarged{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    background-image: url("space.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    color: white;
    background-color: rgb(19, 19, 19);
    font-family: var(--font);
}

p{
    font-size: 20pt;
}

#picResult{
    cursor:pointer;
    
}

#results{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    
    
    
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#infoContainer{
    flex-basis: 50%;
    padding: 10px;
    min-width: 400px;
}

#picResult{
    max-width: auto;
    width: 100%;
    
    align-self: center;
    flex-basis: 50%;
    
}

button{
    color: white;
    background-color: black;
    border-style: groove;
    padding: 8px 30px;

    border-radius: 18px;

}